[Unit]
Description=Detect NanoKVM board variant and optional hardware
DefaultDependencies=no
After=systemd-modules-load.service
Before=onekvm-pre.target onekvm.service onekvm-device-gpio-atx.service shutdown.target
Conflicts=shutdown.target
ConditionPathExists=/usr/share/onekvm/machine.json

[Service]
Type=oneshot
ExecStart=/usr/libexec/onekvm/onekvm-machine-nanokvm-detect
RemainAfterExit=yes

[Install]
WantedBy=onekvm-pre.target
