[Unit]
Description=Mount NanoKVM persistent storage
DefaultDependencies=no
After=systemd-remount-fs.service
Before=local-fs.target sysinit.target systemd-random-seed.service
Conflicts=umount.target

[Service]
Type=oneshot
ExecStart=/bin/mount -t vfat -o noatime /dev/mmcblk0p1 /boot
ExecStop=/bin/umount /boot
RemainAfterExit=yes
